[submodule "miden"]
	path = miden
	url = git@github.com:cpunkzzz/miden.git
[submodule "winterfell"]
	path = winterfell
	url = git@github.com:cpunkzzz/winterfell.git
[submodule "risc0"]
	path = risc0
	url = git@github.com:cpunkzzz/risc0.git
